* {
    box-sizing: border-box;
    margin: 0;
    font-family: Inter;
    }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("/home/pratham/UBA/public/bgPIC.png");
    background-size: cover;
    background-position: center;
    font-size: 22px;
    text-align: center;
  }
  
  .pool-bar{
    background-color: purple;
    width: 80vw;
    height: 7.5vh;
    border-radius: 20px;
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
  }
  .pool-bar>button{
    border: none;
    cursor: pointer;
    background: none;
    color: white;
  }
  .transp-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; 
    opacity: 0.2;
    z-index: -1; 
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(15, 1fr); 
    grid-template-rows: repeat(5, 40px);
    gap: 1px; 
    width: 80vw;
    margin: auto;
    border-radius: 10px;
  }
  
  .box {
    background-color: rgba(255, 255, 255, 0.7); 
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3); 
    font-weight: bold;
  }
  h3{
    margin-block: 10px;
  }